@font-face{
    font-family: 'MB';
    src: url(../fonts/Mulish-Bold.ttf);
}
@font-face{
    font-family: 'MR';
    src: url(../fonts/Mulish-Regular.ttf);
}
@font-face{
    font-family: 'MSB';
    src: url(../fonts/Mulish-SemiBold.ttf);
}
@font-face{
    font-family: 'ML';
    src: url(../fonts/Mulish-Light.ttf);
}